<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}} disabled> <!-- disabled 等於只能檢視、不能編輯 -->
  {{ todo.name }}
</p>
<a href="/todos/{{ todo._id }}/edit">edit</a>
<a href="/">back</a>

<!-- Delete -->
<form action="/todos/{{ todo._id }}/delete" method="POST" style="display: inline">
  <button type="submit">delete</button>
</form>