<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
      <input style="vertical-align: middle;" type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled> <!-- disabled 等於只能檢視、不能編輯 -->
      <h4 style="display: inline; vertical-align: middle;">
        {{this.name}}
      </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="./todos/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="./todos/{{ this._id }}/edit">edit</a>
        <!-- Delete 要發出 POST 請求，而 <a> 只能發 GET 請求，所以這裡需要用 <form> -->
        <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>