<a href="./todos/new">Create</a>

<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled> <!-- disabled 等於只能檢視、不能編輯 -->
    {{this.name}}
    <a href="./todos/{{ this._id }}">detail</a>
    <a href="./todos/{{ this._id }}/edit">edit</a>
    <!-- Delete 要發出 POST 請求，而 <a> 只能發 GET 請求，所以這裡需要用 <form> -->
    <form action="./todos/{{ this._id }}/delete" method="POST" style="display: inline">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>